.card {
  background: #5746ea;
  width: 100%;
  height: 60%;
  border-radius: 2rem;
  padding: 1rem 1.6rem;
  display: flex;
  gap: 4rem;
}
.profile img {
  width: 10rem;
  height: 100%;
}
.details p {
  color: #fff;
  letter-spacing: 1px;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.details p:first-child {
  margin-top: 2rem;
}
.details .username {
  font-size: 4rem;
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 2.8rem;
}
.tokens {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.token {
  background-color: #9f94ff;
  width: 8.2rem;
  height: 3rem;
  border-radius: 3rem;
  color: #fff;
  border: none;
  padding: 0.5rem;
  margin: 0 1rem 1rem 0;
  font-size: 1.6rem;
  font-weight: 200;
  display: flex;
  justify-content: center;
  align-items: center;
}
