.card {
  height: 96%;
  border-radius: 2rem;
  background-color: #101744;
  display: flex;
  flex-direction: column;
}
.top {
  height: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ff4ade;
  padding: 1rem 2rem;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}
.top {
  color: #fff;
  font-weight: 600;
  font-size: 2rem;
}
